---
interface Props {
	text: string;
}
const {text}=Astro.props;
---
<div class="fixed flash w-full h-full z-[25] ">

   <div class="flex overflow-hidden justify-center items-center bg-slate-950 text-3xl text-blue-50 w-full h-full">
                  <div class="overflow-hidden">
                   <p class="relative top-[40px] text-ease-animation">{text}</p>
                  </div>
   </div>
   <div class="flash-bottom w-full h-20 bg-teal"></div>
  </div>

